<div class="container">
  <div style="color:blue;">
    <h1>{{title}}</h1>
    <!-- <h3>{{description}}</h3> -->
  </div>

  <div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="item">Item</label>
        <input type="text" class="form-group" placeholder="Enter Some content"
        id="item" required[(ngModel)]="itemValue" name="item">
      </div>
      <div>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>

  <h2>Content from Firebase</h2>
  <div>
    <ul>
      <li **ngFor="let item of items | async"> {{item.content}} </li>
    </ul>
  </div>
</div>